<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dolphiilution_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Dolphiilution_.Properties.Settings>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wiigamespath" serializeAs="String">
                <value />
            </setting>
            <setting name="gcgamespath" serializeAs="String">
                <value />
            </setting>
            <setting name="dolphinpath" serializeAs="String">
                <value />
            </setting>
            <setting name="globaluserpath" serializeAs="String">
                <value />
            </setting>
            <setting name="riivopath" serializeAs="String">
                <value />
            </setting>
        </Dolphiilution_.Properties.Settings>
    </userSettings>
</configuration>
