<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dolphiilution2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dolphiilution2_.Properties.Settings>
            <setting name="wiigamespath" serializeAs="String">
                <value />
            </setting>
            <setting name="gcgamespath" serializeAs="String">
                <value />
            </setting>
            <setting name="dolphinpath" serializeAs="String">
                <value />
            </setting>
            <setting name="sdpath" serializeAs="String">
                <value />
            </setting>
            <setting name="udpath" serializeAs="String">
                <value />
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
        </Dolphiilution2_.Properties.Settings>
    </userSettings>
</configuration>